
      <div class="row" style="background: #f6f4e6;"> <!--  -->
        <div class="col">
          <ngb-carousel>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img src="../../../assets/voiddie2.PNG" style="max-height: 400px">
                </div>
                <div class="carousel-caption">
                  <h3>Void Die</h3>
                  <p>¿Sobrevivir? No es una opción.</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img src="../../../assets/trafico2.PNG" style="max-height: 400px">
                </div>
                <div class="carousel-caption">
                  <h3>TRÁFICO</h3>
                  <p>Pseudo simulador de tráfico, con texturas rotas.</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img src="../../../assets/hillrunner.PNG" style="max-height: 400px">
                </div>
                <div class="carousel-caption">
                  <h3>Hill Runner</h3>
                  <p>Recorre la pista con el mejor tiempo posible al ritmo de la música.</p>
                </div>
            </ng-template>
          </ngb-carousel>
        </div>
      </div>

    <!--     <div class="row">
          <div class="col" style="background-color: lime;">
            carrousel de imagenes.
            El carrousel debe de tener una serie de imágenes en función
            del título seleccionado en el carrousel de arriba.
          </div>
        </div> -->

