
<div>
  <div class="row">
          <div class="col" style="background-color: #fddb3a; text-align: center">
            <h3>¿Y qué y quién hay detrás de estas MAGNÍFICAS obras?</h3>
          </div>
  </div>
  <div class="row">
          <div class="col-md-3 col-6" style="background-color: #f6f4e6;">
            Las bases de datos se alojan en los servicios de Firebase, que simplifica mucho el proceso.
          </div>
          <div class="col-md-6 col-6 divC" style="background-color: gold">
            <img src="../../../assets/1.png" class="fitFoto">
          </div>
          <div class="col" style="background-color: #fddb3a">
            El sonido y música ha sido desarrollado con  y paquetes de unity de terceros. Los gráficos fueron modelados con MagicaVoxel.
          </div>
  </div>
  <div class="row">
          <div class="col-6 divC">
            <img src="../../../assets/ogimg.jpg"  class="fitFoto">
          </div>
          <div class="col-6" style="background-color: #fddb3a">
            El motor con el que se desarrollan los juegos es con Unity, ¿por qué? Porque es más intuitivo, sencillo...
            Es broma, lo que ocurre es que es gratuito hasta que te montas en el dólar, lo cual es un detalle.
          </div>
  </div>
  <div class="row">
          <div class="col-sm-6 col-md-8 col-xl-8" style="background-color: #f6f4e6;">
            Este señor tan hermoso es Alberto Martí, es el desarollador de los tremendos juegazos
            top seller expuestos en esta página, también lo es de esta página web,
            gran parte de los gráficos, el sonido, la música...
          </div>
          <div class="col-sm-6 col-md-4 col-xl-4 divC" style="background-color: gold">
            <img src="../../../assets/alberto.jpeg" class="fitFoto">
          </div>
  </div>
</div>

